<html ng-app>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="/scripts/angular-1.0.1.min.js"></script>
</head>
<body>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {

        var appId = (window.location.hostname == 'localhost') ? "302550833175687" : "514013545281416";

        FB.init({
            appId      : appId, // App ID
            channelUrl : "//" + window.location.hostname + "/fbChannel",
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
        });

        FB.Event.subscribe('auth.statusChange', function(response) {

            if (response.authResponse) {
                // user has auth'd your app and is logged into Facebook
                FB.api('/me', function(me){
                    if (me.name) {
                        document.getElementById('auth-displayname').innerHTML = "You are logged in as " + me.name;
                    }
                })
                document.getElementById('auth-loggedout').style.display = 'none';
                document.getElementById('auth-loggedin').style.display = 'block';
            } else {
                // user has not auth'd your app, or is not logged into Facebook
                document.getElementById('auth-loggedout').style.display = 'block';
                document.getElementById('auth-loggedin').style.display = 'none';
            }
        });
    };
    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>
<div id="auth-loggedout">
    <div class="fb-login-button">Login to P37 with Facebook</div>
</div>
<div id="auth-loggedin">
    <h2 id="auth-displayname"></h2>
</div>
</body>
</html>